/main/out/production/SkyBallGameProto/*.tmp
/main/.idea/uiDesigner.xml
/main/out/production/SkyBallGameProto/Main-app.xml
/main/out/production/SkyBallGameProto/Main.swf
/main/out/production/SkyBallGameProto/SkyBallGameProto.apk
